@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500&display=swap');
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
* {
	margin: 0;
}

body {
	font-family: 'Dosis', sans-serif;
	background-color: #b8c6db;
	background-image: linear-gradient(-45deg, #b8c6db 0%, #f5f7fa 100%);
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body *::selection {
	background-color: darkgray;
}

.weather-container {
	background-image: linear-gradient(-45deg, #cdaee6 0%, #ffd8cb 125%);
	border-radius: 2%;
	width: 450px;
	min-height: 50vh;
	padding: 60px 50px 20px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2em;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	width: 375px;
}

.header * {
	font-size: 2em;
}

.header > h2 {
	font-weight: 300;
}

/* Input Box */
.city-input {
	font-weight: 500;

	font-family: 'Dosis', sans-serif;
	border: none;
	border-bottom: 1px solid gray;
	outline: none;

	background-color: unset;
	caret-color: gray;
	min-width: 30px;

	text-align: center;
}

.weather-data {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	width: 375px;
}

.weather-icon {
	max-width: 30%;
}

.temp {
	max-width: 30%;
	font-size: 3em;
	font-weight: medium;
}

.secondary-datas {
	max-width: 30%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.secondary-data-icons {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	gap: 1.3em;
}

.secondary-data-icon {
	max-width: 60%;
}

.secondary-data-values {
	display: flex;
	flex-direction: column;
	width: 50%;
	font-size: 1.45em;
	gap: 1em;
}

.unit-selection {
	color: gray;
	transition: color 0.23s;
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: center;
	gap: 0.75em;
	font-size: 1.2em;
}

.unit-selection > .active {
	border-bottom: 1px solid gray;

}

.unit-selection > *:hover	 {
	cursor: pointer;
	color: black;
	transition: color 0.23s;
}

.hide {
	font-size: 0em;
	transition: font-size 0.23s;
}

.unit-selection > .unit:hover .hide {
	font-size: 1em;
	transition: font-size 0.23s;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 10px;
	text-align: center;
}

.github-logo {
	color: darkgray;
	font-size: 2.5em;
	transition: all 0.35s ease-out;
}

.github-logo:hover {
	color: gray;
	transform: scale(1.2);
}

@media screen and (min-width: 700px) {
	.weather-container {
		width: 650px;
	}

	.header {
		width: 500px;
		font-size: 1.5em;
	}

	.weather-data {
		width: 500px;
	}

	.temp {
		font-size: 4em;
	}

	.secondary-data-icon {
		max-width: 60%;
	}

	.secondary-data-values {
		font-size: 1.9em;
	}

	.unit-selection {
		display: flex;
		gap: 1em;
		font-size: 1.2em;
	}
}
